/* --- ESTILOS BASE (MOBILE FIRST) --- */

body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family: Arial, sans-serif;
   text-align: center;
}

/* Ajustes para el contenedor DIV */
div{
  display: inline-block;
  width: 90%; /* Ancho base grande para m칩vil (una columna) */
  margin: 5px;
  padding: 2px;
  box-sizing: border-box; 
  text-align: center; 
}

/* Ajustes para la imagen dentro del DIV */
div img{
    width: 100%; /* La imagen ocupa todo el ancho del div contenedor */
    max-height: 100vh;
    display:block;
    margin:auto;
    border-radius: 5px; /* Peque침o detalle visual */
}


/* ------------------------------------------------------------------ */
/* --- MEDIA QUERY 1: @772px (Dos columnas) --- */
/* Se activa a partir de 772px */
@media all and (min-width: 772px) {
  /* Divs: 45% del viewport width */
  div {
    width: 45%; 
  }
  
  /* Im치genes: max-height de 30% del viewport height */
  div img {
    max-height: 30vh;
  }
}


/* ------------------------------------------------------------------ */
/* --- MEDIA QUERY 2: @998px (Tres columnas) --- */
/* Se activa a partir de 998px (sobrescribe la regla anterior) */
@media all and (min-width: 998px) {
  /* Divs: 30% del viewport width */
  div {
    width: 30%; 
  }
  
  /* Se mantiene la regla de max-height de las im치genes para esta vista */
  div img {
    max-height: 30vh;
  }
}























/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */